body{
    background-color: #243763;
       background-size: cover;
       background-attachment: fixed;
       z-index: 1;
   }

   .cuerpo{
    background-color: whitesmoke;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 10px black;
   }