<div id="modal">
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div id="close">
      <button type="button" class="btn-close btn-close-white" aria-label="Close"  routerLink="/"> </button>
    </div>
 
      <h4>Modificar</h4>

        <input name="nombre" placeholder="modifica el nombre" formControlName="nombre" class="name" [(ngModel)]="skill.nombre" required />
          <p *ngIf="Nombre?.hasError('required')"> El Nombre es requerido.</p>
    
       
        <input name="porcentaje" placeholder="Modifica el porcentaje" formControlName="porcentaje" class="name" [(ngModel)]="skill.progreso" />
        <p *ngIf="Porcentaje?.hasError('required')"> El porcentaje es requerido.</p>
        <input name="submit" class="btn" type="submit" value="Enviar" />
    
      </form>
    </div>

